.embla {
  --slide-height: 300px;
  --slide-spacing: 16px;
  --slide-size: 100%;
}
.embla__container {
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);

  /* change slides per page amount */
  @media screen and (min-width: 768px) {
    flex: 0 0 33.3%;
  }
}
.embla__button {
  touch-action: manipulation;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
